{% extends 'Appcoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h3> Lista de Categorias de Blog </h3>
    <u1>
        {% for categoria in object_list%}
            <p>{{categoria.categoria_nombre}}</p>
            <p>
                <a href="{% url 'Detailcategoria' categoria.id %}">Ver</a>
                <a href="{% url 'Editcategoria' categoria.id %}">Editar</a>
                <a href="{% url 'Deletecategoria' categoria.id %}">Borrar</a>
            </p>
        {%endfor%}
    </u1>

{% endblock %}