{% extends 'Appcoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h3> Lista de Usuarios de Blog </h3>
    <u1>
        {% for usuario in object_list%}
            <p>{{usuario.usuario_nombre}}</p>
            <p>
                <a href="{% url 'Detailusuario' usuario.id %}">Ver</a>
                <a href="{% url 'Editusuario' usuario.id %}">Editar</a>
                <a href="{% url 'Deleteusuario' usuario.id %}">Borrar</a>
            </p>
        {%endfor%}
    </u1>

{% endblock %}